<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.homectl.mapper.MachineMapper">

    <resultMap id="get_machine_with_log" type="MachineDTO" autoMapping="true">
        <id column="m_uuid" property="uuid"/>
        <collection property="power_log" autoMapping="true" ofType="PowerLogDTO" javaType="list">
            <id property="time" column="time"/>
            <result column="m_uuid" property="uuid" />
        </collection>
    </resultMap>


    <select id="get_all_machine" resultType="MachineDTO">
        SELECT *
        FROM machine as M
        WHERE user_id = #{id};
    </select>


    <delete id="delete_machine_by_uuid" >
        delete * FROM machine
        WHERE uuid = #{uuid}
    </delete>

    <update id="machine_state_update">
        UPDATE machine SET `state` = #{state}
        WHERE `uuid` = #{uuid};
    </update>

    <update id="machine_name_update">
        UPDATE machine SET `name` = #{name}
        WHERE `uuid` = #{uuid};
    </update>

    <select id="get_machine_log" resultType="PowerLogDTO">
        SELECT * FROM machine_log
        WHERE uuid = #{uuid}
        ORDER BY time
    </select>

</mapper>