<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.home.homectl.mapper.UserMapper">

    <select id="find_user" resultType="UserDTO">
        SELECT * FROM user
        WHERE id = #{id}
    </select>

    <insert id="user_register">
        INSERT user (`id`, `pw`, `tel`)
        VALUES
        (#{id}, #{pw}, #{tel})
    </insert>

    <update id="update_user_token">
        UPDATE user SET
        `password_token`=#{passwordToken}, `token_deadline`=#{tokenDeadline}
        WHERE id = #{id}
    </update>

    <select id="find_user_by_token">
        SELECT * FROM `user`
        WHERE password_token = #{token}
    </select>

    <update id="resetting_password">
        UPDATE user SET
        `pw`=#{pw}
        WHERE password_token=#{token}
    </update>
</mapper>