<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>

<body>
    <header th:fragment="main_header_fragment">
        <div class="title_box">

            <h1 class="main_title">
                <i class="fa-solid fa-house-user"></i> Home Care
            </h1>
        </div>
        <div class="service_box">
            <div>
                디자인 어케할까~~
            </div>
            <div>
                <a href="/user/logout">로그 아웃</a>
            </div>
        </div>
    </header>
</body>
</html>