<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>

<body>
    <header th:fragment="main_header_fragment">
        <div class="title_box">
            <h1 class="main_title">
                웹 이름 or 로고
            </h1>
        </div>
        <div class="service_box">
            <div>
                디자인 어케할까~~
            </div>
            <div>
                요기는 서비스 항목~~
            </div>
        </div>
    </header>
</body>
</html>