header{
    max-width: 1440px;
    margin: 0 auto;
}

.main_title{
    margin: 20px 0;
}
.title_box{
    display: flex;
    justify-content: center;
}
.service_box{
    display: flex;
    height: 40px;
    margin-bottom: 20px;
    justify-content: end;
}